header {
    background-color: blue;
    color: white;
    text-align: left;
}

main {
     background-color: aquamarine;
    color: black;
    text-align: center;
}

footer{
       background-color: black;
       color: white;
       text-align: end;
}

header, main, footer {
  padding: 15pt;
  margin : 20pt;
  border: 5px double black;
  border-radius:  20px;
}